<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647411760545-m07uth1ugne0nh7hcsgofvji4pb7ci9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647411760545-m07uth1ugne0nh7hcsgofvji4pb7ci9a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>647411760545-9i3m23g4ta815uflvoohefqjqrsrer22.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCybMoLsAelca4XrswE_GTgdeMcTryeYVs</string>
	<key>GCM_SENDER_ID</key>
	<string>647411760545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guvenfuture.mobile</string>
	<key>PROJECT_ID</key>
	<string>guven-mobile-7c512</string>
	<key>STORAGE_BUCKET</key>
	<string>guven-mobile-7c512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647411760545:ios:e802d6bae2c1e565259fe0</string>
	<key>DATABASE_URL</key>
	<string>https://guven-mobile-7c512.firebaseio.com</string>
</dict>
</plist>